<div class="row">
	<div class="col-md-8 col-md-offset-2">
		
		<div class="btn-group btn-group-justified">
			<a href="#" role="button" class="btn btn-default active">AFC</a>
			<a href="#" role="button" class="btn btn-default">NFC</a>
		</div>

		<div class="owl-carousel" id="teams-afc">
			<div class="text-center">
				<h1>East</h1>

				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="bills"></span>
						<p>Buffalo Bills</p>
					</a>
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="dolphins"></span>
						<p>Miami Dolphins</p>
					</a>
				</div>

				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="jets"></span>
						<p>New York Jets</p>
					</a>
		
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="patriots"></span>
						<p>New England Patriots</p>
					</a>
				</div>
			</div>

			<div class="text-center">
				<h1>North</h1>
				
				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="bengals"></span>
						<p>Cincinnati Bengals</p>
					</a>
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="browns"></span>
						<p>Cleveland Browns</p>
					</a>
				</div>

				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="ravens"></span>
						<p>Baltimore Ravens</p>
					</a>
		
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="steelers"></span>
						<p>Pittsburgh Steelers</p>
					</a>
				</div>
			</div>

			<div class="text-center">
				<h1>South</h1>
				
				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="colts"></span>
						<p>Indianapolis Colts</p>
					</a>
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="jaguars"></span>
						<p>Jacksonville Jaguars</p>
					</a>
				</div>

				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="texans"></span>
						<p>Houston Texans</p>
					</a>
		
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="titans"></span>
						<p>Tennesee Titans</p>
					</a>
				</div>
			</div>

			<div class="text-center">
				<h1>West</h1>
				
				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="broncos"></span>
						<p>Denver Broncos</p>
					</a>
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="chargers"></span>
						<p>San Diego Chargers</p>
					</a>
				</div>

				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="chiefs"></span>
						<p>Kansas City Chiefs</p>
					</a>
		
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="raiders"></span>
						<p>Oakland Raiders</p>
					</a>
				</div>
			</div>
		</div>
		
		<div class="owl-carousel" id="teams-nfc">
			<div class="text-center">
				<h1>East</h1>

				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="cowboys"></span>
						<p>Dallas Cowboys</p>
					</a>
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="eagles"></span>
						<p>Philadelphia Eagles</p>
					</a>
				</div>

				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="giants"></span>
						<p>New York Giants</p>
					</a>
		
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="redskins"></span>
						<p>Washington Redskins</p>
					</a>
				</div>
			</div>

			<div class="text-center">
				<h1>North</h1>
				
				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="bears"></span>
						<p>Chicago Bears</p>
					</a>
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="lions"></span>
						<p>Detroit Lions</p>
					</a>
				</div>

				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="packers"></span>
						<p>Green Bay Packers</p>
					</a>
		
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="vikings"></span>
						<p>Minesota Vikings</p>
					</a>
				</div>
			</div>

			<div class="text-center">
				<h1>South</h1>
				
				<a href="#" class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="buccaneers"></span>
						<p>Tampa Bay Buccaneers</p>
					</div>
				</a>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="falcons"></span>
						<p>Atlanta Falcons</p>
					</a>
				</div>

				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="panthers"></span>
						<p>Carolina Panthers</p>
					</a>
		
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="saints"></span>
						<p>New Orleans Saints</p>
					</a>
				</div>
			</div>

			<div class="text-center">
				<h1>West</h1>
				
				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="fortyniners"></span>
						<p>San Francisco 49ers</p>
					</a>
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="cardinals"></span>
						<p>Arizona Cardinals</p>
					</a>
				</div>

				<div class="col-xs-6 alpha">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="rams"></span>
						<p>St. Louis Rams</p>
					</a>
		
				</div>

				<div class="col-xs-6 omega">
					<a href="teams/team_detail" class="teamcontainer">
						<span class="seahawks"></span>
						<p>Seattle Seahawks</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>	