<div class="row">
	<div class="col-md-8 col-md-offset-2">
		
		<div class="team-node">
			
			<div class="text-center">
				<div class="team-logo">
					<span class="patriots"></span>
				</div>	
				<h1>Patriots</h1>
				<p class="blue">AFC</p>
			</div>

			<div class="team-node-footer">
				
				<div>
					<small>Vitórias</small>
					<big>2</big>
				</div>
				<div>
					<small>Derrotas</small>
					<big>1</big>
				</div>
				<div>
					<small>Empates</small>
					<big>0</big>
				</div>
				<div>
					<small>Aprov.</small>
					<big>66.7%</big>
				</div>

			</div>

		</div>

		<br>
		<div class="text-center">
			<a href="#" class="btn btn-default btn-block-responsive">Votar neste time como campeão</a>
		</div>

		<h1>Confrontos</h1>

		<div class="team-data">
			<div class="team-data-row">
				<div class="left">
					<big>1-0-0</big>
					<small>Casa</small>
				</div>
				<div class="right">
					<big>1-1-0</big>
					<small>Fora</small>
				</div>
			</div>
			<div class="team-data-row">
				<div class="left">
					<big>0-1-0</big>
					<small>Div</small>
				</div>
				<div class="right">
					<big>1-0-0</big>
					<small>Conf</small>
				</div>
			</div>
		</div>

		<h1>Pontos</h1>

		<div class="team-data">
			<div class="team-data-row">
				<div class="left">
					<big>64</big>
					<small>A favor</small>
				</div>
				<div class="right">
					<big>50</big>
					<small>Contra</small>
				</div>
			</div>
			<div class="team-data-row">
				<div class="left">
					<big>14</big>
					<small>Saldo</small>
				</div>
				<div class="right">
					<big>2v</big>
					<small>Seq. de jogos</small>
				</div>
			</div>
		</div>

	</div>
</div>	