<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<div class="btn-group-blue btn-group-justified">
			<a href="/leagues/new" role="button" class="btn btn-default-blue">1</a>
			<a href="/leagues/choose_shield" role="button" class="btn btn-default-blue active">2</a>
			<a href="/leagues/choose_deco" role="button" class="btn btn-default-blue">3</a>
			<a href="/leagues/invite_friends" role="button" class="btn btn-default-blue">4</a>
		</div>

		<div class="col-md-12">
			<h1 class="text-center">Escolha o escudo</h1>
		</div>

		
		<div class="myleague-node-head">
			<div class="text-center">
				<div class="league-shield"><%= image_tag("shields/ic_07_01.png", alt: "Escolha o escudo da sua liga", srcset: asset_path('shields/ic_07_01.png') + " 1x, " + asset_path('shields/ic_07_01@2x.png') + " 2x"); %></div>
			</div>
		</div>


		<div class="text-center col-shield">
			<div class="btn-group btn-group-justified">
				<a href="#" role="button" class="btn btn-default active">cor 1</a>
				<a href="#" role="button" class="btn btn-default">cor 2</a>
				<a href="#" role="button" class="btn btn-default">cor 3</a>
			</div>

			<br>
			<a href="#" class="shield"><%= image_tag('create_league/icon_01.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_02.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_03.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_04.png') %></a>

			<a href="#" class="shield"><%= image_tag('create_league/icon_05.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_06.png') %></a>
			<a href="#" class="shield active"><%= image_tag('create_league/icon_07.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_08.png') %></a>
		
			<a href="#" class="shield"><%= image_tag('create_league/icon_09.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_10.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_11.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_12.png') %></a>
		</div>
	</div>
		</div>
			<div class="row">
				<br>
				<div class="col-md-12 text-center">
					<a href="/leagues/new" role="button" class="btn btn-default ">Voltar</a>
					<a href="/leagues/choose_deco" role="button" class="btn btn-primary ">Prosseguir</a>
				</div>
		</div>
</div>