<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<div class="btn-group-blue btn-group-justified">
			<a href="/leagues/new" role="button" class="btn btn-default-blue">1</a>
			<a href="/leagues/choose_shield" role="button" class="btn btn-default-blue">2</a>
			<a href="/leagues/choose_deco" role="button" class="btn btn-default-blue active">3</a>
			<a href="/leagues/invite_friends" role="button" class="btn btn-default-blue">4</a>
		</div>

		<div class="col-md-12">
			<h1 class="text-center">Escolha os adornos</h1>
		</div>

		
		<div class="myleague-node-head">
			<div class="text-center">
				<div class="league-shield"><%= image_tag("shields/ic_07_21.png", alt: "Escolha o escudo da sua liga", srcset: asset_path('shields/ic_07_21.png') + " 1x, " + asset_path('shields/ic_07_21@2x.png') + " 2x"); %></div>
			</div>
		</div>


		<div class="text-center col-shield">

			<br>
			<a href="#" class="shield"><%= image_tag('create_league/icon_13.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_14.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_15.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_16.png') %></a>

			<a href="#" class="shield"><%= image_tag('create_league/icon_17.png') %></a>
			<a href="#" class="shield active"><%= image_tag('create_league/icon_18.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_19.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_20.png') %></a>
		
			<a href="#" class="shield"><%= image_tag('create_league/icon_21.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_22.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_23.png') %></a>
			<a href="#" class="shield"><%= image_tag('create_league/icon_24.png') %></a>
		</div>
	</div>
		</div>
			<div class="row">
				<br>
				<div class="col-md-12 text-center">
					<a href="/leagues/choose_shield" role="button" class="btn btn-default ">Voltar</a>
					<a href="/leagues/invite_friends" role="button" class="btn btn-primary ">Prosseguir</a>
				</div>
		</div>
</div>