<div class="row">
	<div class="col-md-5">

		<div class="league-info">
			<div class="league-shield">
				<%= image_tag("shields/ic_01_05.png", width: "200", alt: "Selecione uma foto", srcset: asset_path('shields/ic_01_05.png') + " 1x, " + asset_path('shields/ic_01_05@2x.png') + " 2x"); %>
			</div>

			<h1 class="league-title">Clube do Churrasco</h1>

			<div class="myleague-footer">
				
				<div>
					<small>Participantes</small>
					<big>04/50</big>
				</div>
				
				<div>
					<small>Seus pontos</small>
					<big>6454</big>
				</div>
				
				<div>
					<small>Sua posição</small>
					<big>04&#176;</big>
				</div>

			</div>
		</div>
	</div>
		

	<div class="col-md-7">
		<div class="league-members-ranking">
			<div class="league-members-header">
				<div class="position">Pos</div>
				<div class="name">Nome do Player</div>
				<div class="score">Pontos</div>
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">1&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">2&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">3&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">4&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">5&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">6&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">7&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">8&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">9&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">10&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">11&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">12&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">13&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">14&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">15&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">16&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">17&#176;</div>
					<div class="name">Filo Mena</div>
					<div class="score">322</div>
				</a>				
			</div>
		</div>

		<br>
		<div class="text-center">
			<a href="#" role="button" class="btn btn-default btn-block-responsive">Solicitar Convite</a>
		</div>

	</div>
</div>