<div class="row">
	<div class="col-md-10 col-md-offset-1">
		
		<div class="text-center">
			<a href="#" role="button" class="btn btn-default btn-block-responsive">Criar liga</a>
		</div>

		<div class="league-list">
			
			<div class="league-list-you">
				<a href="#">
					<div class="position">50011&#176;</div>
					<div class="name">LIGA DO CHURRASCO GARAI!!! ESSA STRING AQUI SERÁ GIGANTESCA DE VERDADE PORQUE EU PRECISO TESTAR NO BROWSER</div>
					<div class="score">9876</div>
				</a>
			</div>
			<div class="league-list-you">
				<a href="/leagues/details.html">
					<div class="position">63425&#176;</div>
					<div class="name">Esta é outra das minhas ligas</div>
					<div class="score">5353</div>
				</a>
			</div>

			<div class="league-list-header">
				<div class="position">Pos</div>
				<div class="name">Nome da liga</div>
				<div class="score">Pontos</div>
			</div>

			<div class="league-list-row">
				<a href="#">
					<div class="position">1&#176;</div>
					<div class="name">Nome da liga bem extenso</div>
					<div class="score">876543</div>
				</a>				
			</div>

			<div class="league-list-row">
				<a href="#">
					<div class="position">2&#176;</div>
					<div class="name">Nome da liga</div>
					<div class="score">876543</div>
				</a>				
			</div>

			<div class="league-list-row">
				<a href="#">
					<div class="position">3&#176;</div>
					<div class="name">Nome da liga</div>
					<div class="score">876543</div>
				</a>				
			</div>

			<div class="league-list-row">
				<a href="#">
					<div class="position">4&#176;</div>
					<div class="name">Nome da liga</div>
					<div class="score">876543</div>
				</a>				
			</div>

			<div class="league-list-row">
				<a href="#">
					<div class="position">5&#176;</div>
					<div class="name">Nome da liga</div>
					<div class="score">876543</div>
				</a>				
			</div>

			<div class="league-list-row">
				<a href="#">
					<div class="position">6&#176;</div>
					<div class="name">Nome da liga</div>
					<div class="score">876543</div>
				</a>				
			</div>

			<div class="league-list-row">
				<a href="#">
					<div class="position">7&#176;</div>
					<div class="name">Nome da liga</div>
					<div class="score">876543</div>
				</a>				
			</div>

			<div class="league-list-row">
				<a href="#">
					<div class="position">8&#176;</div>
					<div class="name">Nome da liga</div>
					<div class="score">876543</div>
				</a>				
			</div>

			<div class="league-list-row">
				<a href="#">
					<div class="position">9&#176;</div>
					<div class="name">Nome da liga</div>
					<div class="score">876543</div>
				</a>				
			</div>

			<div class="league-list-row">
				<a href="#">
					<div class="position">10&#176;</div>
					<div class="name">Nome da liga</div>
					<div class="score">876543</div>
				</a>				
			</div>

			<div class="loading text-center">
				<i class="fa fa-refresh fa-spin"></i> Carregando mais resultados
			</div>

		</div>

	</div>
</div>	