<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<div class="btn-group-blue btn-group-justified">
			<a href="/leagues/new" role="button" class="btn btn-default-blue">1</a>
			<a href="/leagues/choose_shield" role="button" class="btn btn-default-blue">2</a>
			<a href="/leagues/choose_deco" role="button" class="btn btn-default-blue">3</a>
			<a href="/leagues/invite_friends" role="button" class="btn btn-default-blue active">4</a>
		</div>

		<div class="col-md-12">
			<h1 class="text-center">Convide seus amigos</h1>

			<p class="text-center">Digite os emails dos seus amigos</p>
		</div>

		<br>
		<form role="form">
			<div class="form-group">
				<div class="input-group">
					<input type="email" class="form-control" value="neyricardo@jera.com.br">
					<span class="input-group-addon"><i class="fa fa-trash"></i></span>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<input type="email" class="form-control" placeholder="emaildoamigo@mail.com">
					<span class="input-group-addon"><i class="fa fa-plus-circle"></i></span>
				</div>
			</div>

			<a href="#" role="button" class="btn btn-facebook"><i class="fa fa-facebook"></i> Lista de amigos do Facebook</a>

			<a href="#" role="button" class="btn btn-twitter"><i class="fa fa-twitter"></i> Lista de amigos do Twitter</a>

			<a href="#" role="button" class="btn btn-google"><i class="fa fa-google-plus"></i> Lista de amigos do Facebook</a>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12 text-center">
		<br>
		<p>Você selecionou <strong>35 amigos</strong> do seu <span class="fb-color">Facebook</span> <span class="tw-color">Twitter</span> <span class="gp-color">Google+</span>. Clique no botão <strong>criar</strong> para finalizar.</p>
	</div>
</div>

<div class="row">
	<br>
	<div class="col-md-12 text-center">
		<a href="/leagues/choose_deco" role="button" class="btn btn-default ">Voltar</a>
		<a href="/myleagues/myleague" role="button" class="btn btn-primary ">Criar</a>
	</div>
</div>