<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<div class="btn-group-blue btn-group-justified">
			<a href="/leagues/new" role="button" class="btn btn-default-blue active">1</a>
			<a href="/leagues/choose_shield" role="button" class="btn btn-default-blue">2</a>
			<a href="/leagues/choose_deco" role="button" class="btn btn-default-blue">3</a>
			<a href="/leagues/invite_friends" role="button" class="btn btn-default-blue">4</a>
		</div>

		<div class="col-md-12">
			<h1 class="text-center league-title">Digite o nome da sua liga</h1>
		</div>
		<form role="form" action="/leagues/choose_shield">
			<div class="form-group">
				<label for="exampleInput1" class="hidden">Nome da liga</label>
				<input type="text" class="form-control text-center" id="exampleInput1" 
				placeholder="(max. 25 caracteres)" maxlength="25">
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-primary btn-block-responsive">Prosseguir</button>
			</div>
		</form>
	</div>
</div>