<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<div class="text-center">
			<div class="league-shield"><%= image_tag("shields/ic_00_31.png", alt: "Selecione uma foto", srcset: asset_path('shields/ic_00_31.png') + " 1x, " + asset_path('shields/ic_00_31@2x.png') + " 2x"); %></div>
			<a href="#">Alterar escudo</a>
		</div>
		
		<br>
		<form role="form">
			<div class="form-group">
				<label for="exampleInputEmail1">Nome da liga</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Liga do Churrasco">
			</div>
		</form>

		<div class="league-members-ranking edit-mode">
			<h4>Gerenciar jogadores</h4>

			<div class="league-members-row">
			
				<div class="name">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					Ney Ricardo
				</div>
									
			</div>

			<div class="league-members-row">
				<div class="name">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					Outro Player
					<a href="#" class="delete-player">Remover</a>
				</div>
			</div>

			<div class="league-members-row">
				<div class="name">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					Outro Player
					<a href="#" class="delete-player">Remover</a>
				</div>
			</div>

			<div class="league-members-row">
				<div class="name">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					Outro Player
					<a href="#" class="delete-player">Remover</a>
				</div>
			</div>

			<div class="league-members-row">
				<div class="name">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					Outro Player
					<a href="#" class="delete-player">Remover</a>
				</div>
			</div>

		</div>


		<div class="text-center">
			<br>
			<a class="btn btn-danger btn-block-responsive" role="button" href="#">Sair e remover liga</a>
			<a class="btn btn-primary btn-block-responsive" role="button" href="#">Salvar</a>
		</div>

	</div>
</div>