<div class="row my-league">
	<div class="col-md-12">

		<div class="row options-wrap">
			<div class="col-md-4 col-md-offset-4">
				<div class="btn-group btn-group-justified">
					<a href="/leagues" role="button" class="btn btn-default">Ranking</a>
					<a href="#" role="button" class="btn btn-default active">Minhas ligas</a>
				</div>
				<div class="text-center">
					<a href="#" role="button" class="btn btn-primary">Criar liga</a>
				</div>
			</div>
		</div>

		<div class="myleague-node">
			<a href="/myleagues/myleague">
				<div class="my-league-node-header">
					<div class="myleague-node-shield">
						<div class="text-center">
							<%= image_tag("shields/ic_00_31.png", alt: "Selecione uma foto", srcset: asset_path('shields/ic_00_31.png') + " 1x, " + asset_path('shields/ic_00_31@2x.png') + " 2x"); %>
						</div>
					</div>
					<div class="myleague-node-name">
						<h1>Clube</h1>
					</div>
				</div>
				<div class="my-league-node-footer">
					<div class="myleague-node-info">
						<div class="left">
							<small>Participantes</small>
							<big>04/50</big>
						</div>
						<div>
							<small>Seus pontos</small>
							<big>6454</big>
						</div>
						<div class="right">
							<small>Sua posição</small>
							<big>04&#176;</big>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="myleague-node">
			<a href="/myleagues/myleague">
				<div class="my-league-node-header">
					<div class="myleague-node-shield">
						<div class="text-center">
							<%= image_tag("shields/ic_00_31.png", alt: "Selecione uma foto", srcset: asset_path('shields/ic_00_31.png') + " 1x, " + asset_path('shields/ic_00_31@2x.png') + " 2x"); %>
						</div>
					</div>
					<div class="myleague-node-name">
						<h1>Clube</h1>
					</div>
				</div>
				<div class="my-league-node-footer">
					<div class="myleague-node-info">
						<div class="left">
							<small>Participantes</small>
							<big>04/50</big>
						</div>
						<div>
							<small>Seus pontos</small>
							<big>6454</big>
						</div>
						<div class="right">
							<small>Sua posição</small>
							<big>04&#176;</big>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div class="myleague-node">
			<a href="/myleagues/myleague">
				<div class="my-league-node-header">
					<div class="myleague-node-shield">
						<div class="text-center">
							<%= image_tag("shields/ic_00_31.png", alt: "Selecione uma foto", srcset: asset_path('shields/ic_00_31.png') + " 1x, " + asset_path('shields/ic_00_31@2x.png') + " 2x"); %>
						</div>
					</div>
					<div class="myleague-node-name">
						<h1>Clube</h1>
					</div>
				</div>
				<div class="my-league-node-footer">
					<div class="myleague-node-info">
						<div class="left">
							<small>Participantes</small>
							<big>04/50</big>
						</div>
						<div>
							<small>Seus pontos</small>
							<big>6454</big>
						</div>
						<div class="right">
							<small>Sua posição</small>
							<big>04&#176;</big>
						</div>
					</div>
				</div>
			</a>
		</div>

	</div>
</div>