<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<div class="league-header">
			<a class="edit-link" href="/myleagues/edit"><i class="fa fa-cog"></i></a>

			<div class="text-center">
				<div class="league-shield"><%= image_tag("shields/ic_00_31.png", alt: "Selecione uma foto", srcset: asset_path('shields/ic_00_31.png') + " 1x, " + asset_path('shields/ic_00_31@2x.png') + " 2x"); %></div>
			</div>

			<h1>Clube do Churrasco</h1>

			<div class="myleague-footer">
				
				<div>
					<small>Participantes</small>
					<big>04/50</big>
				</div>
				
				<div>
					<small>Seus pontos</small>
					<big>6454</big>
				</div>
				
				<div>
					<small>Sua posição</small>
					<big>04&#176;</big>
				</div>

			</div>
			
		</div>

		<div class="text-center">
			<br>
			<a class="btn btn-default btn-block-responsive" role="button" href="#">Convidar Jogadores</a>
		</div>
		

		<div class="league-members-ranking">
			<div class="league-members-header">
				<div class="position">Pos</div>
				<div class="name">Nome do Player</div>
				<div class="score">Pontos</div>
			</div>

			<div class="league-members-row">
				<a href="/profile">
					<div class="position">1&#176;</div>
					<div class="name">
						<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
						Ney Ricardo
					</div>
					<div class="score">322</div>
				</a>				
			</div>
		</div>

	</div>
</div>