<div class="row">
	<div class="col-md-8 col-md-offset-2">
		
		<ul class="notifications">
			<li>
				<a href="/notifications/accept_invitation" class="unread">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					<strong>Suellen</strong> convidou você para participar da <strong>Liga dos Incontáveis</strong>
				</a>
			</li>
			<li>
				<a href="/games" class="game unread">
					<%= image_tag("img_espn.png", alt: "", width: "30"); %>
					O jogo <strong>Vikings x Parckers</strong> está prestes a começar. Dê seu palpite!
				</a>
			</li>
			<li>
				<a href="/notifications/invite_user" class="unread">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					<strong>Fifi Matheis</strong> solicitou convite para participar da <strong>Jets League</strong>
				</a>
			</li>
			<li>
				<a href="#" class="unread">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					<strong>Suellen</strong> convidou você para participar da <strong>Liga dos Incontáveis</strong>
				</a>
			</li>
			<li>
				<a href="#" class="unread">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					<strong>Suellen</strong> convidou você para participar da <strong>Liga dos Incontáveis</strong>
				</a>
			</li>
			<li>
				<a href="#" class="unread">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					<strong>Suellen</strong> convidou você para participar da <strong>Liga dos Incontáveis</strong>
				</a>
			</li>
			<li>
				<a href="/games" class="game">
					<%= image_tag("img_espn.png", alt: "", width: "30"); %>
					O jogo <strong>Vikings x Parckers</strong> está prestes a começar. Dê seu palpite!
				</a>
			</li>
			<li>
				<a href="#">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					<strong>Suellen</strong> convidou você para participar da <strong>Liga dos Incontáveis</strong>
				</a>
			</li>
			<li>
				<a href="#">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					<strong>Suellen</strong> convidou você para participar da <strong>Liga dos Incontáveis</strong>
				</a>
			</li>
			<li>
				<a href="#">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					<strong>Suellen</strong> convidou você para participar da <strong>Liga dos Incontáveis</strong>
				</a>
			</li>
			<li>
				<a href="#">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					<strong>Suellen</strong> convidou você para participar da <strong>Liga dos Incontáveis</strong>
				</a>
			</li>
			<li>
				<a href="#">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					<strong>Suellen</strong> convidou você para participar da <strong>Liga dos Incontáveis</strong>
				</a>
			</li>
			<li>
				<a href="#">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					<strong>Suellen</strong> convidou você para participar da <strong>Liga dos Incontáveis</strong>
				</a>
			</li>
			<li>
				<a href="#">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					<strong>Suellen</strong> convidou você para participar da <strong>Liga dos Incontáveis</strong>
				</a>
			</li>
			<li>
				<a href="#">
					<%= image_tag("img_no_avatar.png", alt: "", width: "30"); %>
					<strong>Suellen</strong> convidou você para participar da <strong>Liga dos Incontáveis</strong>
				</a>
			</li>
		</ul>
		
		<div class="loading text-center">
			<i class="fa fa-refresh fa-spin"></i> Carregando mais resultados
		</div>		

	</div>
</div>
