<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="owl-carousel" id="tutorial">
			<div class="text-center">
				<h1>Times dos Playoffs</h1>
				<p>Dê seu palpite nos <strong>12 times</strong> que você acredita que irão para os Playoffs.<br>Para cada acerto você ganha mais 25 pontos de vantagem antes de começarem os jogos.</span></p>
				
				<%= image_tag('tutorial/tutorial_img01.png', :alt => 'Como funciona?', :class => 'desktop') %>

				<%= image_tag('tutorial/mobile/tutorial_img01.png', srcset: asset_path('tutorial/mobile/tutorial_img01.png')+ " 1x, " + asset_path('tutorial/mobile/tutorial_img01@2x.png') + " 2x", :alt => 'Como funciona?', :class => 'mobile') %>
			</div>

			<div class="text-center">
				<h1>Escolha seu campeão</h1>
				<p>Ao escolher seu favorito para vencer o Superbowl você pode ganhar +500 pontos ao final do campeonato.</p>

				<%= image_tag('tutorial/tutorial_img02.png', :alt => 'Como funciona?', :class => 'desktop') %>

				<%= image_tag('tutorial/mobile/tutorial_img02.png', srcset: asset_path('tutorial/mobile/tutorial_img02.png')+ " 1x, " + asset_path('tutorial/mobile/tutorial_img02@2x.png') + " 2x", :alt => 'Como funciona?', :class => 'mobile') %>
			</div>

			<div class="text-center">
				<h1>Palpite e acompanhe</h1>
				<p>Fique atento ao calendário de jogos. Você poderá palpitar até alguns instantes antes das partidas começarem e durante os intervalos.</p>

				<%= image_tag('tutorial/tutorial_img03.png', :alt => 'Como funciona?', :class => 'desktop') %>

				<%= image_tag('tutorial/mobile/tutorial_img03.png', srcset: asset_path('tutorial/mobile/tutorial_img03.png')+ " 1x, " + asset_path('tutorial/mobile/tutorial_img03@2x.png') + " 2x", :alt => 'Como funciona?', :class => 'mobile') %>
			</div>

			<div class="text-center">
				<h1>Sistema de pontos</h1>
				<p>A pontuação varia de acordo com o tipo de acerto.</p>

				<%= image_tag('tutorial/tutorial_img04.png', :alt => 'Como funciona?', :class => 'desktop') %>

				<%= image_tag('tutorial/mobile/tutorial_img04.png', srcset: asset_path('tutorial/mobile/tutorial_img04.png')+ " 1x, " + asset_path('tutorial/mobile/tutorial_img04@2x.png') + " 2x", :alt => 'Como funciona?', :class => 'mobile') %>
			</div>

			<div class="text-center">
				<h1>Crie ou entre em uma liga</h1>
				<p>Crie sua própria liga, dê um nome à ela e personalize o escudo com a variedade de cores e adornos.</p>

				<%= image_tag('tutorial/tutorial_img05.png', :alt => 'Como funciona?', :class => 'desktop') %>

				<%= image_tag('tutorial/mobile/tutorial_img05.png', srcset: asset_path('tutorial/mobile/tutorial_img05.png')+ " 1x, " + asset_path('tutorial/mobile/tutorial_img05@2x.png') + " 2x", :alt => 'Como funciona?', :class => 'mobile') %>
			</div>

			<div class="text-center">
				<h1>Convide seus amigos</h1>
				<p>Convide seus amigos por email ou Facebook. Cada liga pode ter até 50 participantes.</p>
				
				<%= image_tag('tutorial/tutorial_img06.png', :alt => 'Como funciona?', :class => 'desktop') %>

				<%= image_tag('tutorial/mobile/tutorial_img06.png', srcset: asset_path('tutorial/mobile/tutorial_img06.png')+ " 1x, " + asset_path('tutorial/mobile/tutorial_img06@2x.png') + " 2x", :alt => 'Como funciona?', :class => 'mobile') %>
			</div>

			<div class="text-center">
				<h1>Ranking</h1>
				<p>Acompanhe a posição e pontuação de suas ligas no Ranking. Confira também seu desempenho dentro delas.</p>

				<%= image_tag('tutorial/tutorial_img07.png', :alt => 'Como funciona?', :class => 'desktop') %>

				<%= image_tag('tutorial/mobile/tutorial_img07.png', srcset: asset_path('tutorial/mobile/tutorial_img07.png')+ " 1x, " + asset_path('tutorial/mobile/tutorial_img07@2x.png') + " 2x", :alt => 'Como funciona?', :class => 'mobile') %>
			</div>

			<div class="text-center">
				<h1>Você está pronto?</h1>
				<p>Comece a jogar!</p>

				<%= image_tag('tutorial/tutorial_img08.png', :alt => 'Como funciona?', :class => 'desktop') %>

				<%= image_tag('tutorial/mobile/tutorial_img08.png', srcset: asset_path('tutorial/mobile/tutorial_img08.png')+ " 1x, " + asset_path('tutorial/mobile/tutorial_img08@2x.png') + " 2x", :alt => 'Como funciona?', :class => 'mobile') %>
			</div>
		</div>

		<div class="text-center"><a href="/playoffteams" class="btn btn-link btn-block-responsive">Pular</a></div>
	</div>
</div>