<div class="row">
	<div class="col-md-6">
		<h1 class="text-center">
			<%= image_tag('logo_bolao_md.png', :alt => 'Bolão NFL ESPN', :width => '160', :class => 'hidden-sm hidden-md hidden-lg') %>
			<%= image_tag('logo_bolao_lg.png', :alt => 'Bolão NFL ESPN', :width => '419', :class => 'hidden-xs') %>
		</h1>

		<h1>Bem vindo ao Bolão NFL</h1>
		<p class="text-center">Palpite nos playoffs da NFL, crie sua própria liga e convide seus amigos.</p>
	</div>

	<div class="col-md-5 col-md-offset-1">
		
		<div class="owl-carousel" id="tutorial">
			<div class="text-center">
				<h2>Palpite para os Playoffs</h2>
				<p>Você pode elejer até <strong>8 times</strong> em que acredita que vão para os <span class="yellow">Playoffs</span></p>

				<%= image_tag('tutorial/playoff_opcoes@2x.png', :alt => 'Como funciona?', :width => '64') %>
			</div>

			<div class="text-center">
				<h1>Escolha o campeão</h1>
				<p>Precisa de uma frase pra isso aqui</p>
				<%= image_tag('tutorial/campeao.png', :alt => 'Como funciona?', :width => '64') %>
			</div>

			<div class="text-center">
				<p>Step 3</p>
			</div>

			<div class="text-center">
				<p>Step 4</p>
			</div>
		</div>

		<br>
		<a href="/playoffteams" class="btn btn-link">Pular</a>
	</div>
</div>	