<div class="row">
	<div class="col-md-7">
		<h1 class="text-center">
			<%= image_tag('logo_bolao_md.png', :alt => 'Bolão NFL ESPN', :width => '160', :class => 'hidden-sm hidden-md hidden-lg') %>
			<%= image_tag('logo_bolao_lg.png', :alt => 'Bolão NFL ESPN', :width => '419', :class => 'hidden-xs') %>
		</h1>

		<h1>Bem vindo ao Bolão NFL</h1>

		<p class="text-center">Dê seus palpites nos playoffs da NFL</p>
		<p class="text-center">Crie sua própria liga</p>
		<p class="text-center">Convide seus amigos</p>
	</div>

	<br>
	<div class="col-md-4">
		<form role="form">
			<div class="form-group">
				<label for="exampleInputEmail1" class="hidden">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1" class="hidden">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-primary btn-block-responsive">Entrar</button>
			</div>

			<br>
			<div class="text-center"><a href="#">Esqueceu sua senha?</a></div>
		</form>

		<br>
		<div class="row">
			<div class="col-md-12 text-center"><p class="blue">Ou conecte-se usando:</p></div>

			<div class="col-md-4 col-xs-4 text-center">
				<a href="#" class="connect-bt connect-fb"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
			</div>
			<div class="col-md-4 col-xs-4 text-center">
				<a href="#" class="connect-bt connect-tw"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
			</div>
			<div class="col-md-4 col-xs-4 text-center">
				<a href="#" class="connect-bt connect-gp"><i class="fa fa-google-plus"></i> <span>Google+</span></a>
			</div>
		</div>
		

		<br>
		<div class="text-center">
			<a href="/home/signup.html" class="btn btn-default btn-block-responsive">Cadastre-se</a>
		</div>
	</div>
</div>	