<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<a href="#" role="button" class="btn btn-link">Voltar</a>
		
		<br>&nbsp;	
		<p class="text-center">Digite seu email para lhe enviarmos uma nova senha</p>
		<br>&nbsp;	

		<form role="form">
			<div class="form-group">
				<label for="exampleInput2" class="hidden">Email</label>
				<input type="email" class="form-control" id="exampleInput2" placeholder="Seu email">
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-primary btn-block-responsive">Recuperar senha</button>
			</div>
		</form>
		
	</div>
</div>	