<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<div class="col-md-6 col-xs-6">
				<a href="#" role="button" class="btn btn-link">Voltar</a>	
			</div>
			
			<div class="col-md-6 col-xs-6 text-right">
				<a href="/games" role="button" class="btn btn-link">Pular</a>
			</div>
		</div>

		<hr>
		<p class="blue text-center">Conecte-se</p>

		<div class="col-md-4 col-xs-4 text-right">
			<a href="#" class="connect-bt connect-fb"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
		</div>
		<div class="col-md-4 col-xs-4 text-center">
			<a href="#" class="connect-bt connect-tw"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
		</div>
		<div class="col-md-4 col-xs-4 text-left">
			<a href="#" class="connect-bt connect-gp"><i class="fa fa-google-plus"></i> <span>Google+</span></a>
		</div>

		<p class="blue text-center">ou registre-se</p>
		<hr>


		<form role="form">
			<div class="form-group text-center">
				<div class="avatar">
					<%= image_tag("ic_no_img.png", alt: "Selecione uma foto", srcset: asset_path('ic_no_img.png')+ " 1x, " + asset_path('ic_no_img@2x.png') + " 2x"); %>
				</div>
				<a href="#">selecione uma foto</a>
			</div>
			<div class="form-group">
				<label for="exampleInput1" class="hidden">Seu nome</label>
				<input type="text" class="form-control" id="exampleInput1" placeholder="Seu nome">
			</div>
			<div class="form-group">
				<label for="exampleInput2" class="hidden">Email</label>
				<input type="email" class="form-control" id="exampleInput2" placeholder="Seu email">
			</div>
			<div class="form-group">
				<label for="exampleInput3" class="hidden">Cidade</label>
				<input type="text" class="form-control" id="exampleInput3" placeholder="Cidade (opcional)">
			</div>
			<div class="form-group">
				<label for="exampleInput4" class="hidden">Senha</label>
				<input type="password" class="form-control" id="exampleInput4" placeholder="Senha">
			</div>
			<div class="form-group">
				<label for="exampleInput5" class="hidden">Confirmar senha</label>
				<input type="password" class="form-control" id="exampleInput5" placeholder="Confirme a senha">
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox"> Li e concordo com os <a href="/home/terms_of_use">termos do regulamento</a>
				</label>
				<br>&nbsp;
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-primary btn-block-responsive">Cadastrar</button>
				<button type="submit" class="btn btn-danger btn-block-responsive">Cadastrar</button>
			</div>
		</form>
		
	</div>
</div>	