<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="text-center">
			<a href="/leagues" class="btn btn-primary btn-block-responsive">Junte-se/Crie uma liga</a>
			<a href="/teams" class="btn btn-default btn-block-responsive">Dê seu palpite no campeão</a>
		</div>

		<h1>Playoffs</h1>

		<p class="text-center">Fases</p>

		<div class="btn-group btn-group-justified">
			<a href="#" role="button" class="btn btn-default active">1</a>
			<a href="#" role="button" class="btn btn-default">2</a>
			<a href="#" role="button" class="btn btn-default">3</a>
			<a href="#" role="button" class="btn btn-default">4</a>
		</div>

		<div class="game-node">
			
			<div class="game-node-header">
				
				<div class="game-node-date">
					<small>Jan</small>
					<big>9</big>
				</div>

				<div class="game-node-score">
					<span>WWW</span>
					<input type="text" maxlength="3" value="73">
					<i class="fa fa-close"></i>
					<input type="text" maxlength="3" value="37">
					<span>OAK</span>
				</div>

				<div class="game-node-toggle">
					<button class="fa fa-angle-down" data-toggle="collapse" data-target="#demo"></button>
				</div>

			</div>

			<div class="game-node-content collapse" id="demo">

				<div class="col-xs-6">
					<span class="bills"></span>
					<big>100%</big>
					<small>Aproveitamento</small>
					<big>80</big>
					<small>Pontos a favor</small>
				</div>

				<div class="col-xs-6">
					<span class="panthers"></span>
					<big>100%</big>
					<small>Aproveitamento</small>
					<big>80</big>
					<small>Pontos a favor</small>
				</div>

			</div>

			<div class="game-node-footer">

				<div class="confirm-bet show">
					<button>Confirmar palpite</button>
				</div>
				
				<div class="game-node-channel">
					<small>19:45</small>
					<big>ESPN e Watch ESPN</big>
				</div>

				<div class="game-node-countdown">
					<small>Restam</small>
					<big>2 dias | 1h50</big>
				</div>

			</div>

		</div>

		<div class="game-node">
			
			<div class="game-node-header">
				
				<div class="game-node-date">
					<small>Jan</small>
					<big>9</big>
				</div>

				<div class="game-node-score">
					<span>hou</span>
					<input type="text" maxlength="3" value="73" disabled>
					<i class="fa fa-close"></i>
					<input type="text" maxlength="3" value="37" disabled>
					<span>ten</span>
				</div>

				<div class="game-node-toggle">
					<button class="fa fa-angle-down" data-toggle="collapse" data-target="#demo2"></button>
				</div>

			</div>

			<div class="game-node-content collapse" id="demo2">

				<div class="col-xs-6">
					<span class="texans"></span>
					<big>100%</big>
					<small>Aproveitamento</small>
					<big>80</big>
					<small>Pontos a favor</small>
				</div>

				<div class="col-xs-6">
					<span class="titans"></span>
					<big>100%</big>
					<small>Aproveitamento</small>
					<big>80</big>
					<small>Pontos a favor</small>
				</div>

			</div>

			<div class="game-node-footer">

				<div class="confirm-bet">
					<button>Confirmar palpite</button>
				</div>

				<div class="game-node-channel">
					<small>19:45</small>
					<big>ESPN e Watch ESPN</big>
				</div>

				<div class="game-node-countdown">
					<small>Restam</small>
					<big>2 dias | 1h50</big>
				</div>

			</div>

		</div>

		<div class="game-node">
			
			<div class="game-node-header">
				
				<div class="game-node-date">
					<small>Jan</small>
					<big>9</big>
				</div>

				<div class="game-node-score">
					<span>mia</span>
					<input type="text" maxlength="3" placeholder="-" disabled>
					<i class="fa fa-close"></i>
					<input type="text" maxlength="3" value="44" disabled>
					<span>jax</span>
				</div>

				<div class="game-node-toggle">
					<button class="fa fa-angle-down" data-toggle="collapse" data-target="#demo3"></button>
				</div>

			</div>

			<div class="game-node-content collapse" id="demo3">
				
				<div class="col-xs-6">
					<span class="dolphins"></span>
					<big>100%</big>
					<small>Aproveitamento</small>
					<big>80</big>
					<small>Pontos a favor</small>
				</div>

				<div class="col-xs-6">
					<span class="jaguars"></span>
					<big>100%</big>
					<small>Aproveitamento</small>
					<big>80</big>
					<small>Pontos a favor</small>
				</div>

			</div>

			<div class="game-node-footer">

				<div class="confirm-bet">
					<button>Confirmar palpite</button>
				</div>
				
				<div class="game-node-channel">
					<small>19:45</small>
					<big>ESPN e Watch ESPN</big>
				</div>

				<div class="game-node-countdown-red">
					<small>Bolão</small>
					<big>Encerrado</big>
				</div>

			</div>

		</div>
	</div>
</div>	