// smartphones
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

}

// smartphones
@media only screen
and (min-width: 321px) {

}

// smartphones (portrait)
@media only screen
and (max-width: 320px) {

}

// iPads (portrait and landscape)
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {

}

// iPads e alguns outros tablets (landscape)
// @media only screen
// and (min-device-width: 768px)
@media only screen
and (max-device-width: 768px){
	
}

// iPads e alguns outros tablets (portrait)
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

}

// desktops e laptops
@media only screen
and (min-width: 1224px) {

}

// telas maiores
@media only screen
and (min-width: 1824px) {

}