//CUSTOM MIXINS

@mixin bg-ratio($slice, $slice-2x, $pos-x:0, $pos-y:0, $bg-repeat:no-repeat) {
	background-image: url($slice);
	background-position: $pos-x $pos-y;
	background-repeat: $bg-repeat;

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image: url($slice-2x);
		@include background-size(contain);
		background-position: $pos-x $pos-y;
	}
}
