/*!
	* Ney Ricardo Bootstrap v0.1 (http://github.com/neyrucardo)
	* Copyright 2012-2014 Arnold Daniels
	
	* NOTE: Try not to screw up with things here;
	* I have no idea of what I've done, so be careful.
*/

.container-smooth {
		max-width: 1170px;
}

@media (min-width: 1px) {
		.container-smooth {
				width: auto;
		}
}

.navmenu,
.navbar-offcanvas {
	width: 260px;
	height: auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
}

.navmenu-fixed-left,
.navmenu-fixed-right,
.navbar-offcanvas {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 1030;
	overflow-y: auto;
	border-radius: 0;
}

.navmenu-fixed-left,
.navbar-offcanvas.navmenu-fixed-left {
	right: auto;
	left: 0;
	border-width: 0 1px 0 0;
}

.navmenu-fixed-right,
.navbar-offcanvas {
	right: 0;
	left: auto;
	border-width: 0 0 0 1px;
}

.navmenu-nav {
	margin-bottom: 10px;
}

.navmenu-nav.dropdown-menu {
	position: static;
	float: none;
	padding-top: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar-offcanvas .navbar-nav {
	margin: 0;
}

@media (min-width: 768px) {
	.navbar-offcanvas {
		width: auto;
		border-top: 0;
		box-shadow: none;
	}
	.navbar-offcanvas.offcanvas {
		position: static;
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-offcanvas .navbar-nav.navbar-left:first-child {
		margin-left: -15px;
	}
	.navbar-offcanvas .navbar-nav.navbar-right:last-child {
		margin-right: -15px;
	}
	.navbar-offcanvas .navmenu-brand {
		display: none;
	}
}
.navmenu-brand {
	display: block;
	padding: 10px 15px;
	margin: 10px 0;
	font-size: 18px;
	line-height: 20px;
}

.alert-fixed-top,
.alert-fixed-bottom {
	position: fixed;
	left: 0;
	z-index: 1035;
	width: 100%;
	margin: 0;
	border-radius: 0;
}

@media (min-width: 992px) {
	.alert-fixed-top,
	.alert-fixed-bottom {
		left: 50%;
		width: 992px;
		margin-left: -496px;
	}
}

.alert-fixed-top {
	top: 0;
	border-width: 0 0 1px 0;
}

@media (min-width: 992px) {
	.alert-fixed-top {
		border-width: 0 1px 1px 1px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
	}
}

.offcanvas {
	display: none;
}

.offcanvas.in {
	display: block;
}

@media (max-width: 767px) {
	.offcanvas-xs {
		display: none;
	}
	.offcanvas-xs.in {
		display: block;
	}
}

@media (max-width: 991px) {
	.offcanvas-sm {
		display: none;
	}
	.offcanvas-sm.in {
		display: block;
	}
}

@media (max-width: 1199px) {
	.offcanvas-md {
		display: none;
	}
	.offcanvas-md.in {
		display: block;
	}
}

.offcanvas-lg {
		display: none;
}

.offcanvas-lg.in {
	display: block;
}

.canvas-sliding {
	-webkit-transition: top .35s, left .35s, bottom .35s, right .35s;
	transition: top .35s, left .35s, bottom .35s, right .35s;
}
.offcanvas-clone {
	position: absolute !important;
	top: auto !important;
	right: 0 !important;
	bottom: 0 !important;
	left: auto !important;
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;
	border: none !important;
	opacity: 0 !important;
}