// @import "compass/css3";
// @import "compass/support";
// @import "compass/utilities";


// -------------------------------------
//   Configuracao
// -------------------------------------

$icons: sprite-map("times/*.png", $layout: smart);
$icons-2x: sprite-map("times-2x/*.png", $layout: smart);


// -------------------------------------
//   Mixin
// -------------------------------------

@mixin use-sprite($sprite) {
    background-image: sprite-url($icons);
    background-position: sprite-position($icons, $sprite);
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    height: image-height(sprite-file($icons, $sprite));
    width: image-width(sprite-file($icons, $sprite));

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: sprite-url($icons-2x);
        background-size: (image-width(sprite-path($icons-2x)) / 2) (image-height(sprite-path($icons-2x)) / 2);
        background-position: round(nth(sprite-position($icons-2x, $sprite), 1) / 2) round(nth(sprite-position($icons-2x, $sprite), 2) / 2);
        height: image-height(sprite-file($icons-2x, $sprite)) / 2;
        width: image-width(sprite-file($icons-2x, $sprite)) / 2;
    }
}


// -------------------------------------
//   Lista de imagens
// -------------------------------------

//AFC EAST
.bills			{ @include use-sprite("afc_east_team_1"); }
.dolphins		{ @include use-sprite("afc_east_team_2"); }
.patriots		{ @include use-sprite("afc_east_team_3"); }
.jets			{ @include use-sprite("afc_east_team_4"); }

//AFC NORTH
.steelers		{ @include use-sprite("afc_north_team_1"); }
.ravens			{ @include use-sprite("afc_north_team_2"); }
.bengals		{ @include use-sprite("afc_north_team_3"); }
.browns			{ @include use-sprite("afc_north_team_4"); }

//AFC SOUTH
.texans			{ @include use-sprite("afc_south_team_1"); }
.colts			{ @include use-sprite("afc_south_team_2"); }
.jaguars		{ @include use-sprite("afc_south_team_3"); }
.titans			{ @include use-sprite("afc_south_team_4"); }

//AFC WEST
.broncos		{ @include use-sprite("afc_west_team_1"); }
.chiefs			{ @include use-sprite("afc_west_team_2"); }
.raiders		{ @include use-sprite("afc_west_team_3"); }
.chargers		{ @include use-sprite("afc_west_team_4"); }

//NFC EAST
.cowboys		{ @include use-sprite("nfc_east_team_1"); }
.giants			{ @include use-sprite("nfc_east_team_2"); }
.eagles			{ @include use-sprite("nfc_east_team_3"); }
.redskins		{ @include use-sprite("nfc_east_team_4"); }

//NFC NORTH
.bears			{ @include use-sprite("nfc_north_team_1"); }
.lions			{ @include use-sprite("nfc_north_team_2"); }
.packers		{ @include use-sprite("nfc_north_team_3"); }
.vikings		{ @include use-sprite("nfc_north_team_4"); }

//NFC SOUTH
.falcons		{ @include use-sprite("nfc_south_team_1"); }
.panthers		{ @include use-sprite("nfc_south_team_2"); }
.saints			{ @include use-sprite("nfc_south_team_3"); }
.buccaneers		{ @include use-sprite("nfc_south_team_4"); }

//NFC WEST
.cardinals		{ @include use-sprite("nfc_west_team_1"); }
.fortyniners	{ @include use-sprite("nfc_west_team_2"); }
.seahawks		{ @include use-sprite("nfc_west_team_3"); }
.rams			{ @include use-sprite("nfc_west_team_4"); }
