$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;

@import "compass";
@import "font-awesome";
@import "bootstrap";
// @import "_sprite";
@import "_mixins";
@import "neyricardo_bootstrap";
@import "owl.carousel";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,700,500|Montserrat:400,700);

// OTHER PAGES IMPORTS
@import "games";
@import "leagues";
@import "notifications";
@import "profile";
@import "teams";

// GLOBALS

html,
body {}

body {
	font-family: $roboto;
	font-size: $font-size-base; //16px
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #102643;
	padding-top: 134px !important;
	@media only screen and (max-device-width: 768px) {
		background-image: url("bg_mobile.png");
		background-repeat: repeat-x;
		background-color: #121D32;
		padding-top: 80px !important;
	}
}

a {
	text-decoration: underline;
}

h1 {
	@include adjust-font-size-to(36px);
	color: #FFBC00;
	font-family: $montserrat;
	@extend .text-center;
	text-transform: uppercase;
	letter-spacing: -1px;
	@media only screen and (max-device-width: 768px) {
		@include adjust-font-size-to(20px);
		margin: 0;
		margin-bottom: 10px;
	}
}

h2 {
	@include adjust-font-size-to(28px);
	color: #88BFFF;
	font-family: $montserrat;
	@extend .text-center;
	text-transform: uppercase;
	@media only screen and (max-device-width: 768px) {
		@include adjust-font-size-to(18px);
	}
}

h4 {
	text-transform: uppercase;
	color: #03A9F4;
	@include adjust-font-size-to(14px);

	@media only screen and (max-device-width: 768px) {
		@include adjust-font-size-to(14px);
	}
}

hr {
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	@extend .clearfix;
}

form label {
	text-transform: uppercase;
	color: #03A9F4;
	@include adjust-font-size-to(14px);
}

.footer-spacer {
	@extend .clearfix;
	margin-bottom: 50px;
	@media only screen and (max-device-width: 768px) {
		margin-bottom: 80px;
	}
}

.alpha {
	padding-left: 0;
}

.omega {
	padding-right: 0;
}

// BUTTONS
.btn {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
}

.btn-block-responsive {
	@media only screen and (max-device-width: 768px) {
		width: 100%;
		margin-bottom: 10px;
	}
}

.btn-primary {}

.btn-default {
	background: none;
	&:hover,
	&.active {
		color: #262626;
		background-color: white;
		@include box-shadow(none);
	}
}

.btn-group {
	.btn {
		width: auto;
	}
	@media only screen and (max-device-width: 768px) {
		width: 100%;
		margin-bottom: 10px;
		@extend .text-center;
	}
}

.btn-link {
	text-transform: none;
	text-decoration: underline;
	font-weight: normal;
}

.connect-bt {
	@include border-radius(60px);
	@include box-sizing(border-box);
	text-align: center;
	text-decoration: none;
	color: white;
	@include adjust-font-size-to(12px);
	padding: 5px 10px;
	display: inline-block;
	&:hover {
		color: white;
		text-decoration: none;
	}
	@media only screen and (max-device-width: 768px) {
		padding: 10px 15px;
		margin: 10px;
		@include adjust-font-size-to(18px);
		width: 44px;
		span {
			display: none;
		}
	}
}

.connect-fb {
	background: #3B5998;
	&:hover {
		background: darken(#3B5998, 10%);
	}
}

.connect-tw {
	background: #00ACED;
	&:hover {
		background: darken(#00ACED, 10%);
	}
}

.connect-gp {
	background: #CC3732;
	&:hover {
		background: darken(#CC3732, 10%);
	}
}

.blue {
	color: #04ACED;
}

.yellow {
	color: #FEB63F;
}

#playerProfile {
	position: relative;
	padding-left: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	clear: both;
	width: 100%;
	big {
		display: block;
	}
	small {
		display: block;
	}
	img {
		@include border-radius(60px);
		border: 1px solid #ccc;
		position: absolute;
		left: 0;
	}
	.fa {
		position: absolute;
		top: 20px;
		right: 0;
		color: #ccc;
	}
}

// NAVBAR

.menubutton {
	@extend .clearfix;
	@include box-sizing(border-box);
	height: 40px;
	margin-bottom: 20px;
	display: none;
	@media only screen and (max-device-width: 768px) {
		display: block;
	}
	a {
		@include box-sizing(border-box);
		display: inline-block;
		padding: 10px 20px;
	}
	button {
		display: none;
		border: none;
		@media only screen and (max-device-width: 768px) {
			position: relative;
			margin-bottom: -40px;
			display: block;
			width: 40px;
			height: 40px;
			background: rgba(35, 52, 70, 0.6);
			text-align: right;
			padding-right: 12px;
			float: right;
			@include box-sizing(border-box);
			@include border-bottom-left-radius(40px);
			&:active {
				background: red;
			}
			.fa {
				@include adjust-font-size-to(18px);
			}
		}
	}
}

.navbar {
	@include border-radius(0);
	border-top: 1px solid darken(#282C35, 5%);
	@media only screen and (max-device-width: 768px) {
		display: none;
	}
}

.navbar-collapse {
	font-family: $montserrat;
	@include adjust-font-size-to(14px);
	text-transform: uppercase;
	a {
		text-decoration: none;
	}
}

.navbar-brand {
	margin-top: -4px;
}

.navbar-toggle {
	margin: 0;
	padding-top: 17px;
	padding-bottom: 16px;
	@include border-radius(0);
	background-color: #181B21;
}

.offcanvas {
	background-color: #282C35;
	border-left: 1px solid #1B1E24;
	font-family: $montserrat;
	li {
		border-bottom: 1px solid #1B1E24;
	}
	a {
		@include adjust-font-size-to(14px);
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		&:hover {
			color: #FFBC00;
			background: #1B1E24 !important;
		}
	}

	.menu-profile {
	   background-color: #1B1E24;
	   .fa-cog {
	       color: #636770;
	       padding-left: 1em;
	   }
	   .fa-power-off {
	       color: #CC0000;
	       padding-right: 5px;
	   }
	}
}

.teams {
	@include border-radius(4px);
	background-color: rgba(70, 204, 225, 0.1);
	display: inline-block;
	&:hover,
	&.active {
		background-color: white;
		border: 2px solid #8BC34A;
	}
}

.loading {
	padding: 20px;
	color: #2A90F4;
	@include adjust-font-size-to(12px);
}

.avatar {
	@include border-radius(999px);
	position: relative;
	overflow: hidden;
	margin: auto;
	width: 90px;
	height: 90px;
	border: 3px solid white;
	img {
		width: 100%;
	}
}

.menu-avatar {
   @extend .avatar;
   width: 54px;
   height: 54px;
}


.banners {
	@extend .text-center;
	padding-top: 10px;
	padding-bottom: 0;
	position: relative;
	overflow: hidden;

	@media only screen and (max-device-width: 768px) {
		display: none;
	}
}


#tutorial {
	.mobile {display:none}
	// .desktop {display:block}

	@media only screen and (max-device-width: 768px) {
		.mobile {display:block}
		.desktop {display:none}

		.owl-nav {display: none}

		p {
			@include adjust-font-size-to(15px);
			line-height: 1.2em;
			letter-spacing: -0.5px;
		}

		img {
			margin: 0 auto;
		}
	}
}





// MENU ESPN
#main_header {
	// position: relative !important;
}


