.game-node {
	position: relative;
	display: block;
	margin-top: 20px;

	.game-node-header {
		position: relative;
		display: block;
		overflow: hidden;
		height: 50px;
		width: 100%;

		.game-node-date {
			position: relative;
			float: left;
			@include border-top-left-radius(4px);
			@include box-sizing(border-box);
			padding: 5px 20px 5px 5px;
			height: 100%;
			background-color: #125285;
			color: white;
			@include bg-ratio("scoreboard/ic_score_date_bg.png", "scoreboard/ic_score_date_bg@2x.png", right, bottom);
			width: 10%;

			@media only screen and (max-device-width: 768px){
				width: 17%;
			}

			small {
				font-weight: 700;
				@include adjust-font-size-to(12px);
				line-height: 1em;
				text-transform: uppercase;
				display: block;
				@extend .text-center;
			}

			big {
				font-weight: 100;
				@include adjust-font-size-to(30px);
				line-height: 1em;
				text-transform: uppercase;
				display: block;
				@extend .text-center;
			}
		}
		.game-node-score {
			position: relative;
			float: left;
			@include box-sizing(border-box);
			@extend .text-center;
			background-color: white;
			padding: 5px 0;
			padding-right: 10px;
			height: 100%;
			@include bg-ratio("scoreboard/ic_score_bg.png", "scoreboard/ic_score_bg@2x.png", right, bottom);

			width: 84%;

			@media only screen and (max-device-width: 768px){
				width: 73%;
			}

			span {
				color: #262626;
				@include adjust-font-size-to(16px);
				line-height: 1em;
				text-transform: uppercase;
			}

			input {
				@include border-radius(3px);
				@include adjust-font-size-to(20px);
				line-height: 1em;
				font-weight: 400;
				text-align: center;
				width: 40px;
				height: 40px;
				padding: 0;
				border: none;
				background-color: #262626;
				color: white;

				&:disabled {
					background-color: lighten(#262626, 0.2);
				}
			}

			.fa {
				color: #999;
				line-height: 1.5em;
			}
		}
		.game-node-toggle {
			@include border-top-right-radius(4px);
			background-color: #125285;
			color: white;
			position: relative;
			float: left;
			height: 100%;
			@include box-sizing(border-box);
			width: 6%;

			@media only screen and (max-device-width: 768px){
				width: 10%;
			}

			button {
				display: block;
				width: 100%;
				margin: 0;
				padding: 0;
				border: none;
				background: none;
				@include adjust-font-size-to(30px);
			}
		}
	}

	.game-node-content {
		background: url("img_field.jpg");
		background-size: cover;
		background-position: center center;
		overflow: hidden;

		span {
			margin: auto;
		}

		small {
			display: block;
			@include adjust-font-size-to(14px);
			@extend .yellow;
			text-transform: uppercase;
			font-weight: 700;
		}

		big {
			display: block;
			@include adjust-font-size-to(36px);
			font-weight: 100;
		}

		div {
			@extend .text-center;
			padding: 20px 0;
		}
	}

	.game-node-footer {
		height: 40px;
		overflow: hidden;
		
		.confirm-bet {
			width: 100%;
			height: 100%;
			background: #8BC34A;
			@include border-bottom-radius(4px);
			@include box-sizing(border-box);
			@extend .text-center;
			padding: 5px;
			display: none;

			.show {
				display: block;
			}


			button {
				@include adjust-font-size-to(14px);
				@include border-radius(90px);
				border: none;
				background: white;
				color: #262626;
				text-transform: uppercase;
				font-weight: 700;
				height: 30px;
				padding-left: 20px;
				padding-right: 20px;

				&:hover {
					background-color: darken(#8BC34A, 20%);
					color: white;
				}
			}
		}

		.game-node-channel {
			background-color: #E9E9E9;
			@include border-bottom-left-radius(4px);
			color: #4A4A4A;
			position: relative;
			height: 100%;
			@include box-sizing(border-box);
			padding-left: 10px;
			padding-top: 5px;

			float: left;
			width: 60%;

			small {
				@include adjust-font-size-to(13px);
				line-height: 1em;
				font-weight: 700;
				display: block;
			}

			big {
				@include adjust-font-size-to(16px);
				line-height: 1em;
				display: block;	
			}
		}

		.game-node-countdown,
		.game-node-countdown-red {
			background-color: #8BC34A;
			@include border-bottom-right-radius(4px);
			color: white;
			position: relative;
			height: 100%;
			@include box-sizing(border-box);
			@include bg-ratio("scoreboard/ic_score_countdown_bg.png", "scoreboard/ic_score_countdown_bg@2x.png", left, top);
			padding-left: 18px;
			padding-top: 5px;

			float: left;
			width: 40%;

			small {
				@include adjust-font-size-to(13px);
				line-height: 1em;
				font-weight: 700;
				display: block;
				text-transform: uppercase;
			}

			big {
				@include adjust-font-size-to(16px);
				line-height: 1em;
				display: block;
			}
		}

		.game-node-countdown-red {
			background-color: #CC3732;
		}
	}
}

// @media only screen and (max-device-width: 768px){
// 	.btn-group {
// 		@extend .btn-group-justified;
// 	}
// }