.btn-group-blue {
	@extend .btn-group;
	border-radius: 3% !important;
	.btn:first-child:not(:last-child):not(.dropdown-toggle) {
		border-bottom-left-radius: 20px;
		border-top-left-radius: 20px;
	}
	.btn:last-child:not(:first-child){
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
	}

}
.btn-default-blue {
	@extend .btn-default;
	border-color:#121D32;
	&:hover,
	&.active {
		color: white !important;
		background-color: #121D32 !important;
		border-color:#121D32;
		@include box-shadow(none);
	}
}

.league-list {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-top: 20px;

	.league-list-header,
	.league-list-row,
	.league-list-you {
		display: block;
		overflow: hidden;
		margin-bottom: 1px;

		.position {
			@include box-sizing(border-box);
			text-align: center;
			position: relative;
			float: left;
			background-color: #2A90F4;
			padding: 10px 5px;
			color: white;
			width: 10%;

			@media only screen and (max-device-width: 768px){
				width: 20%;
			}
		}

		.name {
			@include box-sizing(border-box);
			position: relative;
			float: left;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 80%;
			background-color: #FFF;
			color: #4a4a4a;
			padding: 10px 5px;

			@media only screen and (max-device-width: 768px){
				width: 53%;
			}
		}

		.score {
			@include box-sizing(border-box);
			position: relative;
			float: left;
			width: 10%;
			background-color: #125285;
			padding: 10px 5px;
			color: white;
			background-image: url("ic_carrot.png");
			background-size: 13px 13px;
			background-position: center right;
			background-repeat: no-repeat;

			@media only screen and (max-device-width: 768px){
				width: 27%;
			}
		}
	}

	.league-list-header {
		margin-top: 20px;
		text-transform: uppercase;
		font-weight: 700;
		@include adjust-font-size-to(11px);

		.position {
			background-color: #2273C2;
			padding: 2px 5px;
		}
		.name {
			background-color: #DDD;
			padding: 2px 5px;
		}
		.score {
			background-color: #0D3452;
			padding: 2px 5px;
			background-image: none;
		}
	}

	.league-list-you {
		.position {
			background-color: #666;
		}
		.name {
		}
		.score {
			background-color: #333;
		}
	}

}

.league-shield {
	// background-color: rgba(240, 240, 240, 0.3);
	// background-color: #f0f0f0;
	// width: 128px;
	// height: 128px;
	// margin: auto;
	// text-align: center;
	// overflow: hidden;
	// @include border-radius(4px);
	// img {
	// 	margin: auto;
	// }
}

.league-header {
	@media only screen and (max-device-width: 768px) {
		margin: 0 -15px;
	}
}

.my-league {
	.options-wrap {
		.btn-group {
			margin-bottom: 20px;
		}
		@media only screen and (min-width: 1224px) {
			.btn-primary {
				width: 100%;
			}
		}
	}
}

.myleague-node {
	position: relative;
	overflow: hidden;
	margin-top: 20px;
	@include border-radius(6px);
	@media only screen and (min-width: 1224px) {
		background: #282C35;
		width: 100%;
		height: 100px;
	}

	a {
		text-decoration: none;
		width: 100%;
		display: table-row;
		@media only screen and (min-width: 1224px) {
			display: block;
		}
	}
	.my-league-node-header {
		background-image: url('bg_field.png');
		background-size: cover;
		background-position: center bottom;
		display: table-header-group;
		@media only screen and (min-width: 1224px) {
			display: block;
			background: #FFF;
			float: left;
			width: 50%;
		}
	}
	.myleague-node-shield {
		padding: 20px 0 0;
		position: relative;
		overflow: hidden;
		@include box-sizing(border-box);

		@media only screen and (min-width: 1224px) {
			padding: 0;
			float: left;
			img {
				width: 100px;
				height: 100px;
			}
		}
	}
	.myleague-node-name {
		h1 {
			line-height: 1em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 20px;
			text-align: center;
			@media only screen and (min-width: 1224px) {
				font-weight: 400;
				line-height: 2.2em;
				@include adjust-font-size-to(24px);
			}
		}
		@media only screen and (min-width: 1224px) {
			background: #FFF;
			height: 100px;
			display: block;
		}
	}

	.my-league-node-footer {
		display: table-footer-group;
		@media only screen and (min-width: 1224px) {
			display: block;
			float: left;
			width: 50%;
		}
	}
	.myleague-node-info {
		display: table;
		width: 100%;
		table-layout: fixed;
		border-collapse: separate;
		border-spacing: 1px;
		position: relative;
		@media only screen and (min-width: 1224px) {
			width: 100%;
			height: 100px;
			vertical-align: middle;
		}

		div {
			position: relative;
			display: table-cell;
			text-align: center;
			width: 33.333333%;
			background-color: rgb(7, 77, 125);
			@include box-sizing(border-box);
			padding: 10px 5px;
			@media only screen and (min-width: 1224px) {
				background: #282C35;
				border-right: 1px solid #0F5E9F;
			}

			small {
				color: #2B92F7;
				text-transform: uppercase;
				display: block;
				@include adjust-font-size-to(12px);
				line-height: 1em;
				font-weight: 700;
				margin-bottom: 4px;
				@media only screen and (min-width: 1224px) {
					font-weight: 100;
					color: #FFF;
					line-height: 0.5em;
					padding-top: 10px;
					@include adjust-font-size-to(14px);
				}
			}

			big {
				color: white;
				display: block;
				@include adjust-font-size-to(24px);
				line-height: 1em;
				font-weight: 100;
				@media only screen and (min-width: 1224px) {
					@include adjust-font-size-to(28px);
					color: #F1BD00;
					line-height: 0.8em;
				}
			}

			&.left {
				@include border-bottom-left-radius(6px);
				@media only screen and (min-width: 1224px) {
					@include border-bottom-left-radius(0px);
				}
			}

			&.right {
				@include border-bottom-right-radius(6px);
				@media only screen and (min-width: 1224px) {
					@include border-bottom-left-radius(0px);
					border-right: 0;
				}
			}
		}
	}
}
.col-shield {
	margin-top: 15px;
	padding: 0;

	.shield {
		margin: 0;
		margin-top: 5px;
		height: 80px;
		width: 80px;
		line-height: 100%;
		vertical-align: middle;
		overflow: hidden;
		@include border-radius(4px);
		@include box-sizing(border-box);
    	background-color: rgba(70, 204, 225, 0.1);
    	display: inline-block;

		img {
			vertical-align: initial;
			height: 80px;
			width: 80px;
		}

		&:active,
		&.active {
			background-color: white;
        	border: 2px solid #8BC34A;
		}

    	@media only screen and (max-device-width: 768px){
			width: 64px;
			height: 64px;

			img {
				vertical-align: initial;
				height: 64px;
				width: 64px;
			}
		}
	}
}

.league-info {
	// width: 300px;

	h1.league-title {
		@include adjust-font-size-to(24px);
		color: white;
		background-color: #FFBD00;
		margin: 0;
		padding: 10px 0;
	}

	.league-shield {
		@extend .text-center;
		background-color: white;
		@include border-top-radius(4px);
		overflow: hidden;

		@media only screen and (max-device-width: 768px){
			background-color: #f0f0f0;
			width: 128px;
			height: 128px;
			margin: auto;
			text-align: center;
			overflow: hidden;
			@include border-radius(4px);
		}

		img {
			margin: auto;
		}
	}
}

.myleague-footer {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 1px;
	position: relative;

	div {
		position: relative;
		display: table-cell;
		text-align: center;
		width: 100%;
		background-color: #282C35;
		@include box-sizing(border-box);
		padding: 10px 5px;

		small {
			color: #2B92F7;
			text-transform: uppercase;
			display: block;
			@include adjust-font-size-to(12px);
			line-height: 1em;
			font-weight: 700;
			margin-bottom: 4px;
		}

		big {
			color: white;
			display: block;
			@include adjust-font-size-to(24px);
			line-height: 1em;
			font-weight: 100;
		}


		@media only screen and (max-device-width: 768px){
			background-color: rgba(7, 77, 125, 0.8);
			@include border-radius(0);

			small {
				color: #2B92F7;
				font-weight: 700;
			}

			big {
				color: white;
				font-weight: 100;
			}
		}
	}

	div:first-child {
		@include border-bottom-left-radius(4px);
	}

	div:last-child {
		@include border-bottom-right-radius(4px);
	}
}


.league-members-ranking {}

.league-members-header,
.league-members-row {
	position: relative;
	overflow: hidden;
	margin-bottom: 1px;

	.position {
		@include box-sizing(border-box);
		text-align: center;
		position: relative;
		float: left;
		background-color: #2A90F4;
		padding: 10px 5px;
		color: white;
		width: 10%;

		@media only screen and (max-device-width: 768px){
			width: 20%;
		}
	}

	.name {
		@include box-sizing(border-box);
		position: relative;
		float: left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 80%;
		background-color: #FFF;
		color: #4a4a4a;
		padding: 10px 5px;

		img {
			@include border-radius(999px);
			margin-top: -6px;
			margin-bottom: -6px;
		}

		@media only screen and (max-device-width: 768px){
			width: 53%;
		}
	}

	.score {
		@include box-sizing(border-box);
		position: relative;
		float: left;
		width: 10%;
		background-color: #125285;
		padding: 10px 5px;
		color: white;
		background-image: url("ic_carrot.png");
		background-size: 13px 13px;
		background-position: center right;
		background-repeat: no-repeat;

		@media only screen and (max-device-width: 768px){
			width: 27%;
		}
	}
}

.league-members-header {
	text-transform: uppercase;
	font-weight: 700;
	@include adjust-font-size-to(11px);

	@media only screen and (max-device-width: 768px){
		margin-top: 20px;
	}

	.position {
		background-color: #2273C2;
		padding: 2px 5px;
	}
	.name {
		background-color: #DDD;
		padding: 2px 5px;
	}
	.score {
		background-color: #0D3452;
		padding: 2px 5px;
		background-image: none;
	}
}


.edit-mode {
	.name {
		width: 100%;

		.delete-player {
			background-color: #c00;
			display: block;
			float: right;
			padding: 10px 20px;
			color: white;
			text-decoration: none;
			margin: -10px -5px;

			&:hover {
				background-color: darken(#cc0000, 10%);
			}
		}
	}
}


.btn-facebook {
	@extend .btn-block-responsive;
	text-transform: none !important;
	font-weight: 400 !important;
	color: white;
    background: #3B5998;
    &:hover {
        background: darken(#3B5998, 10%);
    }
}

.btn-twitter {
	@extend .btn-block-responsive;
	text-transform: none !important;
	font-weight: 400 !important;
	color: white;
    background: #00ACED;
    &:hover {
        background: darken(#00ACED, 10%);
    }
}

.btn-google {
	@extend .btn-block-responsive;
	text-transform: none !important;
	font-weight: 400 !important;
	color: white;
    background: #CC3732;
    &:hover {
        background: darken(#CC3732, 10%);
    }
}


//customização no input group do bootstrap
.input-group-addon {
	background-color: #121D32;
	@include adjust-font-size-to(18px);
	padding: 5px 20px;

	.fa-plus-circle {
		color: #8BC34A;
	}

	.fa-trash {
		color: #CC3732;
	}
}


.fb-color { color: lighten(#3B5998, 0.3); content: lighten(#3B5998, 0.3) }
.tw-color { color: #00ACED; }
.gp-color { color: #CC3732; }



.edit-link {
	padding: 10px 20px;
	position: absolute;
	top: -10px;
	right: 0;
	color: white;
}





