

.notifications {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		border-bottom: 1px solid #0A1222;
		overflow: hidden;
		@include adjust-font-size-to(18px);

		a {
			@include adjust-font-size-to(12px);
			color: #3C5D9D;
			@include box-sizing(border-box);
			display: block;
			padding: 10px 30px 10px 10px;
			text-decoration: none;
			background-color: #121D32;
			background-image: url("ic_carrot.png");
			background-size: 13px 13px;
			background-position: center right;
			background-repeat: no-repeat;

			&:hover {
				background-color: lighten(#121D32, 5%);
			}
		}

		a.unread {
			background-color: #105285;
			color: white;

			&:hover {
				background-color: lighten(#105285, 5%);
			}
		}

		img {
			@include border-radius(999px);
			margin-right: 10px;
			float: left;
		}

		@media only screen and (max-device-width: 768px) {
			margin: 0 -15px;
			a {
				line-height: 1.1em;
			}
		}
	}
}

.invitation-buttons {
	@extend .text-center;
	@include box-sizing(border-box);
	padding: 5px;
	background-color: rgba(0,0,0,0.5);

	.btn {
		width: 40%;
	}
}







