
.profile-container{
	background: url("bg_field.png") !important;
	background-color: rgba(70, 204, 255, 0.1);
	padding: 0px;
	margin-bottom: 20px;
}

.profile-node {
	@include box-sizing(border-box);
	position: relative;
	overflow: hidden;

	@media only screen and (max-device-width: 768px) {
		margin-left: -15px;
		margin-right: -15px;
	}

	a {text-decoration: none;}

	h1 {
		line-height: 1em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.profile-node-head {
		padding-top: 20px;
		position: relative;
		overflow: hidden;
		background-image: url('bg_field.png');
		background-size: cover;
		background-position: center bottom;

		.edit-link {
			top: 5px;
		}
	}

	.profile-node-footer {
		display: table;
		width: 100%;
		table-layout: fixed;
		border-collapse: separate;
		border-spacing: 1px;
		position: relative;

		div {
			position: relative;
			display: table-cell;
			text-align: center;
			width: 100%;
			background-color: #114c7a;
			@include box-sizing(border-box);
			padding: 10px 0 0 5px;

			small {
				color: #2B92F7;
				text-transform: uppercase;
				display: block;
				@include adjust-font-size-to(12px);
				line-height: 1em;
				font-weight: 100;
				margin-bottom: 4px;
			}

			big {
				color: white;
				text-transform: uppercase;
				display: block;
				@include adjust-font-size-to(24px);
				line-height: 1em;
			}

			span {
				float: left;
				margin-top: -10px;
				margin-right: -5px;
			}
		}
	}
}
.profile-content{
	margin-top: 20px;
	text-align: center;
	background-color: #125285;
	@extend .teamcontainer;

	small {
		color: #2B92F7;
		text-transform: uppercase;
		display: block;
		@include adjust-font-size-to(16px);
		line-height: 1em;
		font-weight: 20;
		margin-bottom: 4px;
	}

	big {
		color: white;
		text-transform: uppercase;
		display: block;
		font-size: 7.5em;
		line-height: 1em;
		font-weight: 300;
	}

}