// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.teamcontainer {
	@include border-radius(4px);
	@include box-sizing(border-box);
	display: block;
	color: white;
	text-decoration: none;
	background-color: rgba(70, 204, 255, 0.1);
	padding: 10px;
	height: 140px;
	margin-bottom: 20px;
	@include adjust-font-size-to(12px);

	&:hover {
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		text-decoration: none;
	}

	span {
		margin: auto;
	}

}

.team-node {
	
	.team-logo {
		position: relative;
		width: 100px;
		height: 100px;
		margin: auto;
		@include border-radius(999px);
		background-color: rgba(0,0,0,0.1);
		border: 2px solid #FFF;
	}

	.team-node-footer {
		display: table;
		width: 100%;
		table-layout: fixed;
		border-collapse: separate;
		border-spacing: 1px;
		position: relative;

		div {
			position: relative;
			display: table-cell;
			text-align: center;
			width: 100%;
			background-color: rgba(7, 77, 125, 0.8);
			@include box-sizing(border-box);
			padding: 10px 5px;

			small {
				color: #2B92F7;
				text-transform: uppercase;
				display: block;
				@include adjust-font-size-to(12px);
				line-height: 1em;
				font-weight: 700;
				margin-bottom: 4px;
			}

			big {
				color: white;
				display: block;
				@include adjust-font-size-to(24px);
				line-height: 1em;
				font-weight: 100;
			}

			&.left {
				@include border-bottom-left-radius(6px);
			}

			&.right {
				@include border-bottom-right-radius(6px);
			}
		}
	}

	@media only screen and (max-device-width: 768px) {
		margin: 0 -15px;
	}
}

.team-data {
	@include border-radius(4px);
	@include box-sizing(border-box);
	overflow: hidden;
	display: table;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 1px;
	width: 100%;

	small {
		color: #2B92F7;
		text-transform: uppercase;
		display: block;
		@include adjust-font-size-to(12px);
		line-height: 1em;
		font-weight: 700;
		margin-bottom: 4px;
	}

	big {
		color: white;
		display: block;
		@include adjust-font-size-to(24px);
		line-height: 1em;
		font-weight: 100;
	}

	.team-data-row {
		display: table-row;
	}

	.left {
		text-align: center;
		display: table-cell;
		background-color: rgba(7, 77, 125, 0.5);
		margin-bottom: 1px;
		padding: 10px;
	}
	.right {
		text-align: center;
		display: table-cell;
		background-color: rgba(7, 77, 125, 0.5);
		margin-bottom: 1px;
		padding: 10px;
	}
}






