<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="profile-node">
			<div class="profile-node-head">
				<a class="edit-link" href="/myleagues/edit"><i class="fa fa-cog"></i></a>
				
				<div class="form-group text-center">

					<div class="avatar">
						<%= image_tag("ic_no_img.png", alt: "Selecione uma foto", srcset: asset_path('ic_no_img.png')+ " 1x, " + asset_path('ic_no_img@2x.png') + " 2x"); %>
					</div>
					<h1>Profile name</h1>

				</div>
			</div>
			<div class="profile-node-footer">				
				<div>
					<small>Pontuação</small>
					<big>34967</big>
				</div>
				
				<div>
					<span class="bills"></span>
					<small>Cardinals</small>
					<big>ARI</big>
				</div>
			</div>
		</div>		

			<div class="col-xs-14 alpha profile-content">
				<small>Maior pontuação em rodada</small>
				<big>255</big>					
			</div>

			<div class="col-xs-14 alpha profile-content">
				<small>Apostas realizadas</small>
				<big>3678</big>					
			</div>

			<div class="col-xs-14 alpha profile-content">
				<small>Porcentagem de acertos dos resultados</small>
				<big>83%</big>					
			</div>
			
	</div>
</div>	