<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Recuperar senha</h1>

		<br><br>&nbsp;
		<p class="text-center">
			<%= image_tag("ic_recuperar_senha.png", alt: "Selecione uma foto", srcset: asset_path('ic_recuperar_senha.png')+ " 1x, " + asset_path('ic_recuperar_senha@2x.png') + " 2x"); %>
		</p>
		<br>&nbsp;

		<p class="text-center">Você receberá em sua caixa de emails um link para criar uma nova senha.</p>

		<p class="text-center">Enquanto isso, aproveite para dar uma olhada nas <a href="#">notícias da NFL</a></p>
		
	</div>
</div>