<div class="row">
	<div class="col-md-8 col-md-offset-2">
		
		<br>&nbsp;
		<p class="text-center">
			<%= image_tag("ic_espn_escudo.png", alt: "Selecione uma foto", srcset: asset_path('ic_espn_escudo.png')+ " 1x, " + asset_path('ic_espn_escudo@2x.png') + " 2x"); %>
		</p>
		<br>&nbsp;

		<p class="text-center">Não existe nenhuma liga cadastrada ainda.</p>

		<p class="text-center">Seja o primeiro, crie a sua!</p>
		<br>
		
		<div class="text-center">
			<a href="#" role="button" class="btn btn-default btn-block-responsive">Criar liga</a>
		</div>

	</div>
</div>