<div class="row">
	
	<div class="col-md-12">
		<h1>Times dos Playoffs</h1>
		<p class="text-center">Eleja os <strong>8 times</strong> que você acredita que vão para os Playoffs</p>
		<div class="text-center">
			<a href="home/signup" role="button" class="btn btn-link btn-block-responsive">Pular</a>
		</div>
		<br>
	</div>


	<div class="col-md-6 col-md-offset-3 text-center">
		<a href="#" class="teams bills"></a>
		<a href="#" class="teams dolphins"></a>
		<a href="#" class="teams jets"></a>
		<a href="#" class="teams patriots"></a>

		<a href="#" class="teams steelers active"></a>
		<a href="#" class="teams ravens"></a>
		<a href="#" class="teams bengals"></a>
		<a href="#" class="teams browns"></a>

		<a href="#" class="teams texans"></a>
		<a href="#" class="teams colts active"></a>
		<a href="#" class="teams jaguars"></a>
		<a href="#" class="teams titans"></a>

		<a href="#" class="teams broncos"></a>
		<a href="#" class="teams chiefs"></a>
		<a href="#" class="teams raiders active"></a>
		<a href="#" class="teams chargers"></a>

		<a href="#" class="teams cowboys active"></a>
		<a href="#" class="teams giants"></a>
		<a href="#" class="teams eagles"></a>
		<a href="#" class="teams redskins"></a>

		<a href="#" class="teams bears"></a>
		<a href="#" class="teams lions"></a>
		<a href="#" class="teams packers"></a>
		<a href="#" class="teams vikings"></a>

		<a href="#" class="teams falcons"></a>
		<a href="#" class="teams panthers"></a>
		<a href="#" class="teams saints"></a>
		<a href="#" class="teams buccaneers"></a>

		<a href="#" class="teams cardinals"></a>
		<a href="#" class="teams fortyniners"></a>
		<a href="#" class="teams seahawks"></a>
		<a href="#" class="teams rams"></a>
	</div>
</div>

<div class="row">
	<br>
	<div class="col-md-12 text-center">
		<a href="home/signup" role="button" class="btn btn-primary btn-block-responsive">Prosseguir</a>
	</div>
</div>