<!DOCTYPE html>
<!-- <html manifest="/application.manifest"> -->
<html>
<head>
	<meta charset="utf-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">


	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Bolão NFL">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	
	<title>Bolão NFL ESPN</title>

	<%= favicon_link_tag 'favicon.png' %>
	<%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>

	<!-- ESPN HEADER -->
	<link rel="stylesheet" href="http://espn.com.br/assets/header.css" media="all" />
	<link rel="stylesheet" href="http://espn.com.br/assets/footer.css" media="all" />		
	<script type="text/javascript"src="http://d33q4lkmoenauf.cloudfront.net/util/js/plugins/modernizr.custom.min.js"></script>
	<!-- /ESPN HEADER -->
	
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,400,700,500|Montserrat:400,700' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>


<body class="canvas-slid">
	<div class="navmenu navmenu-default navmenu-fixed-right offcanvas">
		<ul class="nav navmenu-nav">
			<li><a href="/home/login">Efetuar login</a></li>
			<li><a href="/games/">Jogos</a></li>
			<li><a href="/playoffteams/">Meus times nos Playoffs</a></li>
			<li><a href="/leagues/">Ligas</a></li>
			<li><a href="/leagues/new">Criar liga</a></li>
			<li><a href="/teams/">Times</a></li>
			<li><a href="/">Como Jogar</a></li>
			<li><a href="#">Notícias</a></li>
		</ul>
	</div>

	<div class="header">

		<div id="uol_header">
			<script src="http://jsuol.com/barra/parceiro-res.js?parceiro=ESPN" type="text/javascript"></script>
		</div>
		<script type="text/javascript">
			env = "production"
		</script>
		<script type="text/javascript" src="http://static.espn.com.br.s3.amazonaws.com/menu/espn-bar.js"></script>

	
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				 	</button>
					<a class="navbar-brand" href="/home/"><%= image_tag('logo_bolao_sm.png', :alt => 'Bolão NFL ESPN', :width => '95') %></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/home/login">Efetuar login</a></li>
						<li><a href="/games/">Jogos</a></li>
						<li><a href="/playoffteams/">Meus times nos Playoffs</a></li>
						<li><a href="/leagues/">Ligas</a></li>
						<li><a href="/leagues/new">Criar liga</a></li>
						<li><a href="/teams/">Times</a></li>
						<li><a href="/">Como Jogar</a></li>
						<li><a href="#">Notícias</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="menubutton">
			<%= link_to image_tag("logo_bolao_sm.png", :alt => 'Bolão NFL ESPN', :width => '95'), root_path %>
			<button data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"><i class="fa fa-ellipsis-v"></i></button>
			<div class="clearfix"></div>
		</div>

	</div>

	<div class="banners">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="google_flash_obj" codebase="//download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="728" height="90"><param name="movie" value="http://pagead2.googlesyndication.com/pagead/imgad?id=CICAgKCTprbNmAEQ2AUYWjII9uTo9ckviKk"><param name="quality" value="high"><param name="AllowScriptAccess" value="never"><param name="wmode" value="opaque"><param name="FlashVars" value="clickTAG=http://googleads.g.doubleclick.net/aclk%3Fsa%3DL%26ai%3DCigONHAZeVOLuMOLZ0AHqhYCAAfarrqoGvv_ByuEBl96ivcABEAEg2eXFIWDN0OOAgAPIAQSpAsyu4cZLOpo-4AIAqAMBqgS3AU_QrPcHa7zYOP_jcX1k6idGf1Z0BZnvDG_4MH_4-Nc3xMlYAHjvdvheaOZlzsOM_T5eDgNEVL_pNIizJ08Ei_SNuKCuZTblQUhnLGxISOCvfegxhvSTNGRk6E2vhtteA8Ec7MsVLZZpmCOvpvcDMulS5tUjcmPCe23c5HlSq54Rl4lfm2Tq5O248UCPnT5XZN1pj_NtX27ybuNUPWiIszshksgy6O42JK7oxnKeZuENwbJOr8zlgeAEAaAGBIAH9oXSMg%26num%3D1%26sig%3DAOD64_13H5Hw2RvEsvAvDAPGE-fq82hi7g%26client%3Dca-pub-1130943076718810%26adurl%3Dhttp://www.ofertaschevrolet.com.br/site/Default.aspx%253Fcmp%253DCampanha:Reg08:generico:novembro_14:MatoGrossodoSul:GoogleDisplay_MS:home:728x90"><object data="http://pagead2.googlesyndication.com/pagead/imgad?id=CICAgKCTprbNmAEQ2AUYWjII9uTo9ckviKk" id="google_flash_embed" width="728" height="90" wmode="opaque" flashvars="clickTAG=http://googleads.g.doubleclick.net/aclk%3Fsa%3DL%26ai%3DCigONHAZeVOLuMOLZ0AHqhYCAAfarrqoGvv_ByuEBl96ivcABEAEg2eXFIWDN0OOAgAPIAQSpAsyu4cZLOpo-4AIAqAMBqgS3AU_QrPcHa7zYOP_jcX1k6idGf1Z0BZnvDG_4MH_4-Nc3xMlYAHjvdvheaOZlzsOM_T5eDgNEVL_pNIizJ08Ei_SNuKCuZTblQUhnLGxISOCvfegxhvSTNGRk6E2vhtteA8Ec7MsVLZZpmCOvpvcDMulS5tUjcmPCe23c5HlSq54Rl4lfm2Tq5O248UCPnT5XZN1pj_NtX27ybuNUPWiIszshksgy6O42JK7oxnKeZuENwbJOr8zlgeAEAaAGBIAH9oXSMg%26num%3D1%26sig%3DAOD64_13H5Hw2RvEsvAvDAPGE-fq82hi7g%26client%3Dca-pub-1130943076718810%26adurl%3Dhttp://www.ofertaschevrolet.com.br/site/Default.aspx%253Fcmp%253DCampanha:Reg08:generico:novembro_14:MatoGrossodoSul:GoogleDisplay_MS:home:728x90" type="application/x-shockwave-flash" allowscriptaccess="never"></object></object>
	</div>

	<div class="container">
		<%= yield %>
	</div>

	
	<div class="footer-spacer"></div>

	<footer class="main-footer" role="contentinfo">
		<div class="wrapper">
			<nav class="upper-footer">
			<ul class="department-links">
				<li><a href="http://espn.com">ESPN.com</a></li>
				<li><a href="http://espndeportes.espn.go.com">ESPN Desportes</a></li>
				<li><a href="http://espn.uol.com.br/expn">EXPN</a></li>
			</ul>
			<ul>
				<li><a href="http://espn.uol.com.br/aplicativos">Aplicativos</a></li>
				<li><a href="http://espn.uol.com.br/ondeassistir">Onde Assistir</a></li>
				<li><a href="http://contenti1.espn.com.br/ancine/GradeAncineTODOS.xml">Programação Detalhada</a></li>
			</ul>
			</nav>
		</div>

		<div class="wrapper">
			<div>
				<ul class="social-links">
					<li><a class="google-link" href="https://plus.google.com/100982212345934914316" target="_blank">Google+ </a></li>
					<li><a class="facebook-link" href="http://www.facebook.com/mundoespn" target="_blank">Facebook</a></li>
					<li><a class="twitter-link" href="http://www.twitter.com/espnagora" target="_blank">Twitter</a></li>
					<li><a class="rss-link" href="http://espn.uol.com.br/old/template/fe/rss.jsp?height=320&amp;amp;width=660" target="_blank">RSS</a></li>
				</ul>
				<nav class="footer-main-links">
				<ul>
					<li><a class="logo" href="http://espn.uol.com.br/"><img alt="Logo" src="http://content.espn.com.br/image/logo.png" /></a></li>
					<li><a href="http://espn.uol.com.br/quemsomos">Quem Somos</a></li>
					<li><a href="http://espn.uol.com.br/trabalheconosco">Trabalhe Conosco</a></li>
					<li><a href="http://espn.uol.com.br/assine">Assine</a></li>
					<li><a href="http://espn.uol.com.br/anuncie">Anuncie</a></li>
				</ul>
				<div class="site-politics">
					<p class="copyright">
						<span>&copy; copyright ESPN do Brasil</span>
						<span>Todos os direitos reservados</span>
					</p>
					<ul>
						<li><a href="http://www.disney.com.br/politicasdeprivacidade">Política de privacidade</a></li>
						<li><a href="http://www.disney.com.br/termos">Termos de uso</a></li>
					</ul>
				</div>
				</nav>
			</div>
		</div>
	</footer>

</body>
</html>
